@media (max-width: 995px) {
  ul,
  .buttons {
    display: none;
  }

  .toggle {
    display: flex;
  }

  .second-section .container:first-of-type {
    flex-direction: column;
    text-align: center;
    width: min(50rem, 80%);
  }

  .fifth-section .container h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media (max-width: 815px) {
  .fifth-section .container h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 700px) {
  .first-section .container h1 {
    font-size: 3rem;
  }

  .first-section .container p {
    font-size: 1.6rem;
  }
}

@media (max-width: 548px) {
  footer button {
    margin-top: 1.6rem;
  }
}

@media (max-width: 450px) {
  footer .container h2 {
    font-size: 3rem;
  }

  .fifth-section .container h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
}