@media (max-width: 995px) {
  ul,
  .buttons {
    display: none;
  }

  .toggle {
    display: flex;
  }
}

@media (max-width: 700px) {
  .first-section h1 {
    font-size: 3rem !important;
  }

  .first-section p {
    font-size: 1.6rem !important;
  }
}